[phases.setup]
nixPkgs = ["chromium", "ffmpeg", "nodejs_20"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"

[variables]
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD = "true"
PUPPETEER_EXECUTABLE_PATH = "/nix/var/nix/profiles/default/bin/chromium"
CHROME_PATH = "/nix/var/nix/profiles/default/bin/chromium"
